body {
    text-align: center ;
    margin: 0;
    padding:0;
    font-family: sans-serif;
}

hr {
    margin: 30px auto 25px;
    border: 6px dotted lightslategray;
    border-bottom: none;
    width: 45px;
    
}

p {
    line-height: 1.6;
}

a {
    text-align: center;
    margin: 20px 30px;
}

.header {
    padding: 100px 0 0;
    background-color: #CBF1F5;
    position: relative;
    border-bottom: 2px solid #A6D1E6;
}

.header h1 {
    color: #66BFBF;
    display: inline;
    font-size: 5.625rem;
    font-family: 'Dancing Script', cursive;
    text-shadow: 1px 1px 0 black;
    margin: 20px auto 0;
}

.header h2 {
    color: #66BFBF;
    font-size: 1.5rem;
    font-weight: normal;
    text-shadow: 1px 1px 0 black;
}

#topCloud {
    position:absolute;
    right: 380px;
    top: 50px;
}

#bottomCloud {
    position: absolute;
    left: 400px;
}

.personalPresentation {
    position: relative;
}

.personalPresentation h2{
    color: #66BFBF;
    text-decoration: underline;
}

.personalPresentation h3 {
    color: #11999E;
}

.aboutMe {
    width: 50%;
    margin: auto;
}

#perfilImage {
    width: 290px;
    margin-bottom: 25px;
}


.skillsRow {
    width: 60%;
    margin: 100px auto 0px;
    text-align: left;
    line-height: 2;
}


.habilidades, .competencias {
    display: flex;
    align-items: center;
}

.skillGiph {
    width: 16.2%;
    margin-right: 45px;
}

.habilidades h3 {
    position: absolute;
    bottom: 390px;
}

.competencias h3 {
    position: absolute;
    bottom:200px;
}

.competenciasGiph {
    width: 25%;
    margin-right: 25px; 
}

.skillsRow h3 {
    margin-left: 230px;
    margin-bottom: 0;
    margin-top: 20px;
}


.contactMe {
    width: 30%;
    margin: 10px auto 50px;
}

.contactMe p {
    margin: 40px auto;
}

.button {
    margin: 0 auto;
}

button {
    font-size: 1.2rem;
    color: white;
    background-color: #66BFBF;
    border: none;
    border-radius: 15px;
    padding: 17px 20px;
}

button:hover {
    background: linear-gradient(to right, #00efff, #3fd2fb);
    text-shadow: 1px 1px 1px black;
}

.linksContainer {
    background-color: #CBF1F5;    
    padding: 15px 0 10px;
    line-height: 1.5;
    border-top:2px solid #A6D1E6;
    margin-top: 60px;
}
.links {
    margin: 0 790px;
}

.bottomContainer h3, .bottomContainer h2 {
    color: #66BFBF;
}

.links {
    display: flex;
    justify-content: space-evenly;
}
.links img {
    width: 100px;
}

.links img:hover {
    width: 112px;
}

 #git {
   margin-top: 18px;
}

