h1 {
    margin: 0 auto;
    width: 10%;
    ;
}

body {
    text-align: center;
    margin: 0;
    font-family: sans-serif;
}

.topContainer {
    background-color: #E7F6F2;
    position: relative;
    padding-top: 100px;
}

.topCloud {
    position:absolute;
    right: 450px;
    top: 50px;
}

#bottomCloud {
    position: absolute;
    left: 600px;
}